{% extends "base.html" %}
{% block content %}

<div class="row mb-4">
    <div class="col-md-6">
        <div class="card bg-secondary p-3">
            <h5>Total Tasks: {{ total }}</h5>
            <h5>Completed: {{ completed }}</h5>
        </div>
    </div>
</div>

<form method="POST" class="mb-4">
    <input name="task" class="form-control mb-2" placeholder="Task" required>
    <input type="date" name="due_date" class="form-control mb-2">
    <select name="priority" class="form-control mb-2">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>
    <input name="category" class="form-control mb-2" placeholder="Category">
    <button class="btn btn-primary">Add Task</button>
</form>

{% for task in tasks %}
<div class="card p-3 mb-2 bg-dark border-light">
    <b>{{ task.content }}</b>
    <br>
    Priority:
    <span class="badge bg-warning">{{ task.priority }}</span>
    |
    {{ task.category }}
    |
    {{ task.status }}

    <div class="mt-2">
        <a href="/complete/{{ task.id }}" class="btn btn-success btn-sm">Complete</a>
        <a href="/delete/{{ task.id }}" class="btn btn-danger btn-sm">Delete</a>
    </div>
</div>
{% endfor %}

{% endblock %}



