{% extends "base.html" %}

{% block content %}

<h4>Welcome {{ current_user.username }}</h4>
<p><b>Plan:</b> {{ current_user.plan }}</p>

{% if current_user.plan == "Free" %}
<a href="/subscribe" class="btn btn-warning btn-sm">Upgrade</a>
{% endif %}

<hr>

<h5>Add Task</h5>
<form method="POST">
    <input name="task" class="form-control mb-2" placeholder="Task" required>
    <input type="date" name="due_date" class="form-control mb-2">
    <input type="time" name="due_time" class="form-control mb-2">

    <select name="priority" class="form-control mb-2">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select>

    <input name="category" class="form-control mb-2" placeholder="Category">
    <input type="number" name="focus_minutes" class="form-control mb-2" placeholder="Focus Minutes">

    <button class="btn btn-primary">Add Task</button>
</form>

<hr>

<h5>Your Tasks</h5>
{% for task in tasks %}
<div class="card p-3 mb-2">
    <b>{{ task.content }}</b><br>
    {{ task.priority }} | {{ task.category }} | {{ task.status }}
    <br>
    <a href="/complete/{{ task.id }}" class="btn btn-success btn-sm">Complete</a>
    <a href="/delete/{{ task.id }}" class="btn btn-danger btn-sm">Delete</a>
</div>
{% endfor %}

{% endblock %}


